{% extends "header.html" %}
{% block content %}
<body>
  <section class="sec1">
    <div class="row">


      <div class="col-lg-6 sec1Left">
        <h2>You've come here to enjoy and not wait in queues<span class="headMain">Scan a QR code, browse through menu and place your order with ease.</span></h2>
        <div class="ctaBtn">
          <a href="/collab/new" class="subBtn creBtn">Create a new Queue</a>
          <a href="/collab" class="subBtn">Join a Queue</a>
        </div>
      </div>


      <div class="col-lg-6 sec1Right">
         <br>
         <img src="static/asset/icon.png" width="70%">
      </div>



    </div> 
  </section>


  
</body>
{% endblock %}